*{
    padding: 0;
    margin: 0;
} 


/*//////////index///////////////*/


html{
    font-size: 62.5%;
   
}

.prime {
    background-size: cover;
    text-align: justify;
    margin: 0;
    padding-bottom: 15rem;
    min-height: 100vh;
}

a:hover {
    cursor: pointer; 
}

.header{
    background-color: rgb(175 225 245);
    font-family: 'Ysabeau Infant', sans-serif;
    font-style: italic;
    font-size: 3rem;
    padding: 2rem 0;
    -webkit-box-shadow: 0px 10px 5px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 5px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 5px -8px rgba(0,0,0,0.75);
}

.navigation{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0 3rem;
    padding: 0 5rem;
}

a.logo{
    text-decoration: none;
    padding: 0 5rem;
}

a.link{
    text-decoration: none !important;
    color: rgb(107 117 117) !important;
}

.articles .link a h2{
    padding-top: 0 !important;
}

a.link:hover {
    font-weight: bold;
    text-shadow: -3px 1px 3px rgba(109,68,179,0.76);
}

footer {
    position: relative;
    bottom: -150px;
    width: 100%;
}



    

/*/////////////form////////////////////////////////*/


.error {
    color: red;
    font-size: 12px;
    font-weight: bold;
}

.input-error {
    border-color: red !important;
}

.input-success {
    border-color: green !important;
}


.abs-container {
    position: relative;
}

.abs-container .abs-element {
    position: absolute;
}

.abs-container .abs-element-2 {
    position: absolute;
    top: 0;
    right: 3%;
    cursor: pointer;

    background-color: rgb(246, 246, 246);
    border: 2px solid rgb(186, 186, 185);
    padding: 2px 10px;
    border-radius: 5px;
    color: brown;
    width: 150px;
}
